/* events section starts */

.event-box{
  
  
  width: 400px;
  height: 500px;
  margin: 50px;

}
.heading-event-box-1{
  margin: 12px;
  padding-right: 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  border-width: 5px;
  position: relative;
  top:-500px;
text-align: center;
font-weight: bold;
color: black;
border: ridge 8px #00fe00;
font-size: 30px;
}
img{
  border: solid 7px black;
  wrap: under;
}
/* events section ends */
/* Google Fonts: Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

  .welcome{
    color:white;
    background-color:#1a191f;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: 0.2s ease-in;
}
:root{
  --primary-color: #f9ab00;
  --box-shadow: .5rem .5rem  0 #10221b;
  --border: .2rem  solid #10221b;
  --box1: linear-gradient(-45deg, red, orange, lightyellow);
   --box2: linear-gradient(-45deg, red, orange, yellow, green);
    --box3: linear-gradient(-45deg, red, orange, yellow, green);
    --text-color-1:#444;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
}


.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #10221b;
  color: #fff;
}

.footer{
  padding: 2rem 9%;
}
.services{
  padding: 2rem 9%;
}
.rooms{
  padding: 2rem 9%;
}
.packages{
  padding: 2rem 9%;
}
.pricing{
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-top: 0rem;
  font-size: 4rem;
  color: #10221b;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  
}
::selection{
    background-color:#1a191f;
    color: #fff;
}
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #1a191f;
}



html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: #000;
}

/* Navbar Section Starts  */

header{
  padding: 20px;
  background-color: #1a191f;
}
 

header .navbar-brand span{
  color: var(--primary-color);
}
header .navbar-brand{
  font-size: 2.5rem;
  color: #fff;
}

header .navbar-nav li a{
  color: #fff !important;
  text-align: center;
  font-size: 2rem;
}

.fa-bars{
  color: #fff ;
  font-size: 2rem !important;
}

.navbar-toggler{
  outline: none !important;
}


 .dropdown{
  content: none;
  display: none;
  }
  .nav-dropdown{
    border-radius: 20px 0px 20px 0px;
    font-size: 20px;
    color: wheat;
    padding: 2px 2px 2px 2px;
    border: solid 5px white;
  }
    .nav-dropdown:hover .dropdown{
    content: normal;
    display: grid;
  }







/* Navbar Section Ends  */

/* home section starts  */

.home{
  height: 95vh;
      background: url("tech.jpg");
    background-repeat: no-repeat;
  background-size: cover;
}
.home {
  /* background: rgba(209, 137, 137, 0.7) url(https://preview.colorlib.com/theme/montana/img/banner/xbanner.png.pagespeed.ic.Fz8_Hc8pX8.jpg); */
  background-image: url("tech.jpg");
   background-repeat: no-repeat;
  background-size:cover;
}


.home .item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  height: 95vh;
  padding: 0rem 9%; 
}

.home h1{
  font-size: 160px;
  padding-top: 2rem;
  text-align: center;
  color: #fff;
}

.home h1 span{
  color: var(--primary-color);
}
.home .item .content p{
  font-size: 2rem;
  padding: 1rem 0;
  padding-bottom: 2rem;
  max-width: 70rem;
  color: #fff;
  text-align: center;
  margin: auto;

}
.home z h1 aarav{
  color: lightgreen;
}
.home z h1 avi{
  color: yellow;
}

.home .item .buttons{
  height: 5rem;
  text-align: center;
}
.home .item .content .home-btn1{
  padding: 0.8rem 2.5rem;
  background-color: hsl(0, 94%, 66%);
  color: #fff;
  font-size: 2rem;
  border-radius: 2rem;
  transition: 0.2s linear;
  text-decoration: none;
}
.home .item .content .home-btn1:hover{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
.home .item .content .home-btn2{
  padding: 0.8rem 3rem;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  border-radius: 2rem;
  margin-left: 1rem;
  text-decoration: none;
}



/* Member Ship Section Starts  */
.pricing{
  margin-bottom: 2rem;
}
.pricing .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.pricing .box-container .box{
  background:var(--bg-color-1);
  border-radius: .5rem;
  padding:2rem;
  text-align: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.pricing .box-container .box h3{
  padding:1rem;
  background: var(--bg-color-2);
  border-radius: .5rem;
  font-size: 2rem;
  color:var(--text-color-1);
}

.pricing .box-container .box .price{
  padding-top: 2rem;
}

.pricing .box-container .box .price span{
  font-size: 2rem;
  color:var(--text-color-2);
}

.pricing .box-container .box .price .amount{
  font-size: 5rem;
  color:var(--text-color-1);
  font-weight: bolder;
}

.pricing .box-container .box ul{
  padding: .5rem 0;
  list-style: none;
}

.pricing .box-container .box ul li{
  padding: 1rem 0;
  font-size: 1.7rem;
  color:var(--text-color-2);
}

.pricing .box-container .box 1{
  background: var(--box);
}
.pricing .box-container .box div ul li{
color: orange;
}
/* Member Ship Section Ends */

/* Footer Section Starts  */
.footer {
  background: black;
  color: #b5ffe5;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #348c6d;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #348c6d;
  padding-bottom: .5rem;
}

.footer .box-container .box a {
  font-size: 1.4rem;
  color: #348c6d;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  color: #b5ffe5;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: var(--primary-color);
}

.footer .box-container .box a{
  padding-right: .5rem;
  color: #b5ffe5;
}

.footer .box-container .box form input[type="email"]{
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #b5ffe5;
  margin: 1rem 0;
  text-transform: none;
  border: solid 3px #b5ffe5;
}
.footer .box-container .box form input[type="submit"]{
  width: 50%;
  font-size: 2rem;
  color: #b5ffe5;
  text-transform: none;
  border: solid 3px #b5ffe5;
}

.footer .box-container .box .payment {
  width: 100%;
  margin-top: 2rem;
}

.credit {
  background: var(--primary-color);
  color: #fff;
  font-size: 2rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer Section Ends */
.box img{
       transition: 0.2s ease-in;
    vertical-align: middle;
    border-radius: 50%;
    border: 1rem solid #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        margin-top: 0;
    margin-bottom: .5rem;
        text-align: center;
}
box h3{
  display: flex;
      text-transform: capitalize;
    transition: 0.2s ease-in;
    flex: 1 1 25rem;
    padding: 1rem;
    text-align: center;
}
.steps{
      flex-direction:i;
}
